.sign-up {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 450px;
  background-color: #eff1f2;
  padding: 24px;
  border-radius: 6px;
}

.sign-up h1 {
  font-size: 38px;
  font-weight: 500;
  color: #0e64f1;
}

.sign-up form {
  width: 100%;
  margin-top: 4px;
}

.sign-up form .form-group {
  display: flex;
  flex-direction: column;
}

.form-group + .form-group {
  margin-top: 12px;
}

.sign-up form .form-group label {
  font-size: 17px;
  margin-bottom: 2px;
}

.sign-up form .form-group input {
  flex: 1;
  width: 100%;
  outline: none;
  border: 0.5px solid #444;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
}

.sign-up form .form-group span {
  width: 100%;
  position: relative;
}

.sign-up form .form-group .show {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sign-up form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  outline: none;
  border: none;
  margin: 16px 0px;
  background-color: #0e64f1;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  transition: transform 0.25s;
  cursor: pointer;
}

.sign-up form button:active {
  transform: scale(0.98);
}

.sign-up form p {
  text-align: center;
  font-size: 15px;
  margin-top: 12px;
}

.sign-up form p a {
  margin-left: 4px;
}
