@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 10px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: transparent;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--black-color);
  color: var(--text-color);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 850px;
  height: 500px;
  background-color: #eff1f2;
  border-radius: 16px;
  padding: 30px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.wrapper header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper header h1 {
  color: #0e64f1;
  font-size: 42px;
  font-weight: 700;
}

.wrapper main {
  margin-top: 12px;
  width: 100%;
  height: 100%;
  overflow-y: overlay;
}

